<title><%= title %></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1">

<%= tag.meta name: "bridge-platform", content: turbo_native_bridge_platform %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "mobile", "data-turbo-track": "reload" \
      if request.variant.mobile? %>

<%= javascript_include_tag "application",
      "data-turbo-track": "reload", defer: true %>
